/* 
_________   _________ _________ .____                                __   
\_   ___ \ /   _____//   _____/ |    |   _____  ___.__. ____  __ ___/  |_ 
/    \  \/ \_____  \ \_____  \  |    |   \__  \<   |  |/  _ \|  |  \   __\
\     \____/        \/        \ |    |___ / __ \\___  (  <_> )  |  /|  |  
 \______  /_______  /_______  / |_______ (____  / ____|\____/|____/ |__|  
        \/        \/        \/          \/    \/\/                        
 
*/

/* Base reset */

/*Box-sizing*/
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body,
figure {
	margin: 0;
	padding: 0;
}

img,
video,
svg {
	max-width: 100%;
}

a,
ul,
li {
	text-decoration: none;
	list-style: none;
}

/* -----------reset end------------ */
